{:kotoba.app/id "cloud.itonami.isic-9609", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreiaoa3okhp32mrijqysqizphgbewyixfuezv377vtjatzd72my7kzu", :kotoba.app/embed-url "ipfs://bafkreiaoa3okhp32mrijqysqizphgbewyixfuezv377vtjatzd72my7kzu", :published {:archive "https://kotobase.net/ipfs/bafkreiaoa3okhp32mrijqysqizphgbewyixfuezv377vtjatzd72my7kzu", :size 76117, :put-status 201, :get-status 200, :at "2026-08-15T14:01:58.086Z"}}
